# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\nonvenvs\advent_of_code_2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
